.env/
.venv/

*.pyc

# ignorar la carpeta build
build/*
# menos los .py y los .spec de la carpeta
!build/*.py
!build/*.spec

# para la parte de vitepress
node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
.DS_Store

